/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
@import 'assets/base-assets/footer';

html,
body {
    height: 100%;
}

.clearfix {
    &:after {
        display: block;
        clear: both;
        content: '';
    }
}

.transition {
    transition: all 0.15s ease-in;
}

.myContainer {
    position: relative;
    max-width: gridValue('container');
    margin: 0 auto;

    @extend .clearfix;
}

.default-title {
    font-family: 'Montserrat-Medium';
    font-size: 38px;
    font-weight: normal;
    margin-bottom: 35px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: color('primary');
}

.default-subtitle {
    font-family: 'Montserrat-Medium';
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 35px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: color('primary');
    &--small {
        font-size: 12px;
        text-transform: uppercase;
    }
}

.default-description {
    font-family: 'NunitoSans-Regular';
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    letter-spacing: 0.005em;
    color: color('secondary');
    &--big {
        font-size: 18px;
        line-height: 28px;
    }
    &--center {
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
    }
    &--small {
        font-size: 12px;
        letter-spacing: 0.1em;
    }
}

.default-btn {
    display: inline-block;
    min-width: 180px;
    font-family: 'Montserrat-Medium';
    font-size: 12px;
    padding: 21px 35px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    background-color: #10c9c3;
    &:hover,
    &:focus {
        text-decoration: none;
        color: #fff;
    }
}

.default-input {
    display: block;
    width: 100%;
    font-family: 'NunitoSans-Regular';
    font-size: 15px;
    padding: 14px 20px;
    color: color('secondary');
    border: none;
    background-color: #fff;
    margin-bottom: 30px;
    @extend %placeholder-style; 
}


/*END:base*/
