@import 'assets/_settings.scss';

/* .banner */

.banner {
	padding: 235px 0 200px;
	&-inner {
		padding-left: 64px;
		padding-right: 30px;
	}
	&-description {
		padding-left: 5px;
	}
}

/* END: .banner */